
  .child {
    width: 500px;
    height: 500px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }
.teks-1 {
    margin-left: 50%;
    color: black;

  }
  
 .judul{
  color: #3DC3A3;
  margin-top: 5%;
  align-items: center;
  justify-content: center;
  text-align: center;
 }
 .selesai{
  background-color:#3DC3A3;
  border:white;
 margin: 20% 40%;
 width: 25%;
}