.column {
  flex: 50%;
  padding: 30px;
  float:left;  
  max-width: 50%;
  max-height: 10%;
}
  .row{
    display: flex;
    padding:20px;
    width: 50%;
    margin : 0 auto;
  }
  .column img{
    height :80px;
    max-height: 100%;
    position:relative;
    left:50px
    
  }
  .column1 img{
    height :100px;
    width: 200px;
    max-width: 100%;
    position:relative;
    left:400px
  }